.App {
  display: grid;
  background-image: url("../images/coffee-beans.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100%;
  grid-template-columns: minmax(150px, 1fr);
  grid-template-rows: 80px 1fr;
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
}
.nav {
  background: rgb(51, 51, 51);
  color: #ffffff;
  text-align: center;
  box-shadow: 8px 9px 27px -2px rgba(0, 0, 0, 0.86);
}

h1 {
  font-weight: 400;
}

h3 {
  align-self: center;
  justify-self: center;
  font-weight: 500;
  font-size: 28px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(450px, 1fr));
  align-items: center;
}

@media only screen and (max-width: 450px) {
  App {
    overflow: scroll;
  }
}
