.directions {
  background: rgb(51, 51, 51);
  margin: 20px;
  box-shadow: 8px 9px 27px -2px rgba(0, 0, 0, 0.86);
  color: #ffffff;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
}

.instructions {
  /* max-height: 80vh; */
  /* overflow-y: auto; */
}

@media only screen and (max-width: 800px) {
  /* .directions {
    max-height: 50vh;
  }
  .instructions {
    overflow-y: scroll;
  } */
}
