.lineItem {
  display: grid;

  background: #777777;
  min-height: 50px;

  grid-template-columns: 1fr 10%;
  grid-template-rows: minmax(40px, 1fr);

  align-items: center;
}

.lineItem:nth-child(even) {
  background: #555555;
  display: grid;
}

.instruction-text {
  grid-column: 1 / 2;
  margin-left: 20px;
  padding: 10px 0 10px 0;
  font-size: 18px;
}

.instruction-checkbox {
  grid-column: 2 / -1;
}

.instruction-image {
  grid-column: 1 / -1;
}

.inactive {
  display: none;
}
