.App {
  display: grid;
  background-image: url("coffee-beans.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  grid-template-columns: minmax(150px, 1fr);
  grid-template-rows: 80px 1fr;
  font-family: "Montserrat", sans-serif;
}
.nav {
  background: rgb(51, 51, 51);
  color: #ffffff;
  text-align: center;
  box-shadow: 8px 9px 27px -2px rgba(0, 0, 0, 0.86);
}

h1 {
  font-weight: 400;
}

h3 {
  align-self: center;
  justify-self: center;
  font-weight: 500;
  font-size: 24px;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  /* align-self: center; */
}

.timer {
  margin: 20px;
  min-width: 150px;
  max-width: 600px;

  justify-self: center;
  align-self: center;

  grid-gap: 40px;
  display: grid;
  grid-template-columns: 1fr 100px;
  grid-template-rows: minmax(100px 70%) minmax(50px; 30%);
}

.timer-display {
  display: grid;

  width: 300px;
  height: 300px;
  border-radius: 50%;

  background-color: rgb(51, 51, 51);
  color: white;

  box-shadow: 8px 9px 27px -2px rgba(0, 0, 0, 0.86);
}

.time {
  align-self: center;
  font-size: 60px;
  font-family: "Anonymous Pro", monospace;
  text-align: center;
}

.controls {
  display: grid;
  align-items: center;
  justify-items: start;
}

.startButton {
  background-color: green;
  color: white;
  font-size: 24px;
  font-weight: 300;
}

.stopButton {
  background-color: red;
  color: white;
  font-size: 24px;
  font-weight: 300;
}

.resetButton {
  background-color: #777777;
  color: white;
  font-size: 24px;
  font-weight: 300;
}

button {
  font-family: "Montserrat", sans-serif;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  border: #ffffff;
  /* box-shadow: 0px 2px rgba(0, 0, 0, 0.2); */
  box-shadow: 8px 9px 27px -2px rgba(0, 0, 0, 0.86);
}

.directions {
  background: rgb(51, 51, 51);
  margin: 20px;
  box-shadow: 8px 9px 27px -2px rgba(0, 0, 0, 0.86);
  color: #ffffff;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
}

.instructions {
  display: grid;

  grid-template-rows: repeat(auto-fill, minmax(40px, 1fr));
  grid-template-columns: 1fr;
}

.lineItem:nth-child(even) {
  background: #555555;
}

.lineItem {
  background: #777777;
  min-height: 40px;
}
